*{
	margin: 0;
	padding: 0;
}
.clear{
	clear: both;
}
.menu{
	width: 4%;
	float: left;
}
#menuBar{
	padding: 20px 0px 17px 24px;
}
.logo{
	width: 15%;
	float: left;
	padding: 5px;
}
.search{
	width: 45%;
	float: left;
	padding: 4px 0px;
}
.searchbar{
	width: 95%;
	padding: 14px 0px;
	border-radius:5%;
	text-indent: 45px;
	background-color: #f1f3f4;
	border:none;
	background-image:  url('../assets/icons/search.png'), url('../assets/icons/se.png');
	background-size: 40px, 37px;
	background-position: 1.2%, 99%;
	background-repeat: no-repeat;
}
.searchbar:focus{
	outline: none;
	background-color:white;
	box-shadow: 0px 1px 1.5px .5px #4d4c4c;
}
.active{
	width: 12%;
	float: right;
	margin-top:5px;	
}
.active-bg{
	float: left;
	width: 65%;
	border: 1px solid #eceff1;
	border-radius: 30%;
	background-color: transparent;
	background-image: url('../assets/icons/more.png');
	background-position: 88%;
	background-repeat: no-repeat;
	background-size: 20px;
	padding: 0px 2px 0px 0px;
}
.active-t{
	float: left;
	font-family: arial;
	opacity: 0.7; 
	font-size: 14px;
	margin-top: 12px;
}
.green-circle{
	float: left;
	background-color: green;
	border-radius: 50%;	
	width: 10px;
	height:10px;
	margin: 15px 10px;
}
.support{
	width: 4%;
	float: right;
	width: 30px;
	height: 30px;
	border-radius:50%;
	background-color: transparent;
	background-image:url('../assets/icons/support-d.png');
	background-position: center center;
	background-size: 25px;	
	background-repeat: no-repeat;
	margin: 10px 5px 0px 7px;
}
.settings{
	width: 4%;
	float: right;
	width: 30px;
	height: 30px;
	border-radius:50%;
	background-color: transparent;
	background-image:url('../assets/icons/settings.png');
	background-position: center center;
	background-size: 25px;	
	background-repeat: no-repeat;
	margin: 10px 5px 0px 7px;
}
.apps{
	width: 4%;
	float: right;
	width: 30px;
	height: 30px;
	border-radius:50%;
	background-color: transparent;
	background-image:url('../assets/icons/menu-top.png');
	background-position: center center;
	background-size: 30px;	
	background-repeat: no-repeat;
	margin: 12px 5px 0px 7px;
}
.apps, .settings, .support, .active-bg, .fa-bars,.account{
	cursor:pointer;
}
.settings:hover, .apps:hover, .support:hover, .active-bg:hover, .inbox:hover, .c:hover{
	background-color:rgba(60,64,67,0.078);
}
.account{
	width: 12%;
	float: right;
	border:1px solid rgb(0, 0, 0, .1);
	border-radius: 10%;
	height: 40px;
	background-color: transparent;
	background-image:url('../assets/icons/logo.png');
	background-position: center center;	
	background-size: 100px;
	background-repeat: no-repeat;
	margin-left: 2px;
	margin: 5px 5px 0px 7px;
}
.account:hover{
	background-color:rgb(232, 240, 254, 0.3);
}
hr{
	opacity:0.3;
}
.main{
}
.sideNav{
	float:left;
	/*border:1px solid black;*/
	width: 18%;

}
.mainNav{
	float:left;
	/*border:1px solid black;*/
	width: 78%;

}
.rightNav{
	float:left;
	border-left: 1px solid rgb(0,0,0,0.2);
	width: 3%;

}
.inbox,.chat,.space,.meet{
	/*border:1px solid black;*/
	margin: 0% 0% 0% 5%;
	padding: 5% 0;
	cursor:pointer;
}
.c{
	padding:auto;
}
.composebg{
	margin: 10% 40% 5% 2%;
	padding:6%;
	box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302);
	border-radius: 44px;
	cursor:pointer;
}
.composebg:hover{
	box-shadow: 0 2px 5px 0 rgba(60,64,67,0.302);
}
.compose-text{
	font-family: Arial, Roboto;
	font-size: 14px;
	color: #757474;
	font-weight:  bold;
	margin-left: 10px;
}
.fa-pen{
	margin-left: 5px;
	color: red;
}
.inboxtext{
	font-family: Arial, Roboto;
	font-size: 14px;
	color: #757474;
	font-weight:  bold;
	margin-left: 10px;
}
.chattext{
	font-family: Arial, Roboto;
	font-size: 14px;
	color: #757474;
	font-weight:  bold;
	margin-left: 9px;
	cursor:row-resize;
}
.spacetext{
	font-family: Arial, Roboto;
	font-size: 14px;
	color: #757474;
	font-weight:  bold;
	margin-left: 9px;
	cursor:row-resize;
}
.meettext{
	font-family: Arial, Roboto;
	font-size: 14px;
	color: #757474;
	font-weight:  bold;
	margin-left: 9px;
}
.fa-plus{
	float: right;
	margin-right:20px;
	opacity: 0.5;
}
.calendar{
	height: 30px;
	width: 30px;
	border-radius:50%;
	background-color: transparent;
	background-image:url('../assets/icons/cal.png');
	background-position: center center;	
	background-size: 25px;
	background-repeat: no-repeat;
	margin: 25px  auto;
}
.keep{
	height: 30px;
	width: 30px;
	border-radius:50%;
	background-color: transparent;
	background-image:url('../assets/icons/keep.png');
	background-position: center center;	
	background-size: 25px;
	background-repeat: no-repeat;
	margin: 25px  auto;
}
.tasks{
	height: 30px;
	width: 30px;
	border-radius:50%;
	background-color: transparent;
	background-image:url('../assets/icons/tasks.png');
	background-position: center center;	
	background-size: 25px;
	background-repeat: no-repeat;
	margin: 25px  auto;
}
.contacts{
	height: 30px;
	width: 30px;
	border-radius:50%;
	background-color: transparent;
	background-image:url('../assets/icons/contacts.png');
	background-position: center center;	
	background-size: 25px;
	background-repeat: no-repeat;
	margin: 25px  auto;
}
#plus{
	margin: 30px 15px;
}
#bottomAngle{
	margin: 240px 15px 1px 15px;

}
.topNav{
}
.check{
	margin-left:20px;
}
.fa-caret-down{
	margin:5px;
}
.fa-arrow-rotate-right, .fa-ellipsis-vertical{
	margin: 20px;
}.fa-angle-left, .fa-angle-right{
	float:right;
	margin: 20px 30px 20px 0px;
}
.mailNumber{
	font-family: arial;
	font-size: 14px;
	float:right;
	margin: 20px;
	opacity: 0.5;
}
.started{
	border:1px solid rgb(0, 0, 0, .1);
	border-radius: 5px;
	margin:15px 0;
}
.close{
	margin:20px;
}
.get{
	float:left;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	opacity:0.7;
}
.fa-xmark{
	float:right;
}
.settingsBlue{
	float:left;
	width:25%;
	margin: 0px 20px;
	padding-bottom: 30px;
}
.greenTick{
	float:left;
	width:25%;
	margin: 0px 20px;
	padding-bottom: 30px;
}
.redBell{
	float:left;
	width:25%;
	margin: 0px 20px;
	padding-bottom: 30px;
}
.settingsIcon, .tickIcon, .bellIcon{
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-position: center;
	background-size: 25px;
	background-repeat: no-repeat;
}
.settingsIcon{
	background-color:rgb(232, 240, 254, 0.7);
	background-image: url("../assets/icons/settingsBlue.png");
	cursor: pointer;
}
.settingsIcon:hover{
	background-color:rgb(232, 240, 254, 1);
}
.tickIcon{
	background-color:#1e8e3e;
	background-image: url("../assets/icons/tick.png");
}
.bellIcon{
	background-color:rgb(252, 232, 230,0.7);
	background-image: url("../assets/icons/bell.png");
	cursor: pointer;
}
.bellIcon:hover{
	background-color:rgb(252, 232, 230, 1);
}
.settingsText, .tickText, .bellText{
	width: 50%;
	padding:5px;
	float:left;
	font-family: arial;
	font-size: 15px;
	margin:5px 20px;
	opacity:0.7;
	cursor: pointer;
}
.settingsText:hover, .tickText:hover, .bellText:hover{
	background-color:rgb(0,0,0,0.1);
	border-radius:5px;
}

.square{
	width: 3%;
	float:left;
	padding: 7px 4px 7px 1px;
}
.sqIcon{
	width:20px;
	height:20px;
	background-image: url("../assets/icons/square.png");
	background-position:center center;
	background-size: 20px;
	background-repeat: no-repeat;
	margin-left: 10px;
}
.star{
	width: 3%;
	float:left;
	padding: 7px 0;
}
.stIcon{
	width:20px;
	height:20px;
	background-image: url("../assets/icons/starb.png");
	background-position:center center;
	background-size: 20px;
	background-repeat: no-repeat;
	margin-left: 10px;
}
.sub{
	width: 24%;
	float:left;
	padding: 7px 0;
	margin-left: 20px;
}
.con{
	width: 50%;
	float:left;
	padding: 7px 0;
}
.time{
	width: 16%;
	float:left;
	padding: 7px 0;
	text-align:right;
}
.mailInbox{
	opacity:0.5;
	cursor: pointer;
	border: 1px solid rgb(0,0,0,0);
}
.mailInbox:hover{
	box-shadow: 3px 3px 5px 0 rgba(60,64,67,0.302);
	border: 1px solid rgb(0,0,0,0.2);
	opacity: 0.8;
}
.scroll{
	height: 545px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.sub, .con, .time{
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
}
.rightNav div:hover{
	background-color:rgba(60,64,67,0.078);
}
.rightNav div{
	cursor:pointer;
}