html, body {
    margin:0px;
    padding:0px;
    border:0px;
    left:0px;
    top: 0px;
    background-color:white;  
}
p {
    font-size: small;
    text-align: center;
    color:white;
    
}
.fa-bars {
	
	padding-left:30px;
	margin-bottom: 5px;
	font-size:23px;
	color:grey;
	
}
#img-logo {
	padding-left:5px;
	width:90px;
	margin-bottom: -10px;
	height:40px;
	
}

.mail {
	margin-top: 10px;
	border-bottom: 2px solid lightgrey;`
}

.search {
	padding-left:300px;
   	margin-top:-45px;
}
.compose {
	
	margin-top:10px;
	margin-left: 10px;
	padding-left: 10px;
	color: grey;
}

.button {
	border-radius:30px;
	padding-top:6px;
	width: 120px;
	height: 50px;
	font-size: 15px;
	text-align: center;
	background-color:white;
	border-color: #D3D3D3;
        margin-left:10px;
}
.button-top {
	.button {
	border-radius:50%;
	padding-top:6px;
	width: 40px;
	height: 30px;
	padding-top:10px;
	color: black;
	font-size: 15px;
	text-align: center;
	background-color:white;
	border-color: #D3D3D3;
        margin-left:10px;
}
}

.list {
	width: 200px;
	padding-left: 40px;
	margin-top:20px;
	font-size: 16px;
	color: grey;
	border-bottom: 2px solid lightgrey;
}
.meet {
	width: 200px;
	font-size: 16px;
	padding-left: 40px;
	margin-top:20px;
	border-bottom: 2px solid lightgrey;

}
.hangout {
	padding-left: 40px;
	margin-top:20px;

}
.circle{
	margin-top:10px;
	right:-60px;
	border-radius: 50%;
	width: 40px;
	height: 30px;
	padding-top:10px;
	color: black;
	border-color: rgb(rgb(28, 53, 161), green, blue);
	background-color: pink;
	font-size: 18px;
	text-align: center;	
}
.container-right{
	width:400px;
	position: absolute;
	top: 10px;
	padding-left: 10px;
	
}
input[type=text] {
    position:absolute;
    border-radius: 6px;
    border-color:lightgrey;
    background-color: lightgrey;
    background: url('../asset/img1.png') no-repeat left center;
    width:600px;
    height: 30px;
    background-size: 40px;
    padding :20px;
    box-sizing: border-box;
  }

.fa-sliders {
	position:absolute;
	left: 560px;
	top:15px;	
	color:grey;	
}
.fa-plus {
	padding-left:8px;
	color:red;
}

#s-icon {
    position: relative;
    width:30px;
    height:25px;
    left:5px;
}
.fa-inbox{
    color: grey;
}
.fa-star{
    color: grey;
}
.fa-clock{
    color: grey; 
}
.fa-angle-down{
    color:grey;
}
.fa-video{
    color:grey;
}
.fa-caret-down{
    color:grey;
}
.input::placeholder{
	padding-left:20px;
	font-size: 14px;
}
.right-icons{
	position: absolute;
	display:flex;
	left: 1200px;
}
.fa-circle-question {
	padding-left: 90px;
	color:grey;
	font-size: 22px;
	margin-top:20px;
}
.fa-gear {
	padding-left: 20px;
	color:grey;
	font-size: 22px;
	margin-top:20px;
}
.fa-braille {
	padding-left: 20px;
	color:grey;
	font-size: 20px;
	margin-top:20px;
}
.icon-bar {
	position: absolute;
	top:90px;
	left: 300px;
	color: grey;
	
}	
.fa-square {
	position:absolute;
	font-size: 20px;
	
}
.fa-ellipsis-vertical {
	position:absolute;
	font-size: 22px;
	padding-left:40px;	
}
.fa-rotate-right{
	position:absolute;
	padding-left: 20px;
	top:100
	
}
